@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #dddddd;
  --tempWhite: #a8a1a1;
  --dark: #242326;
}
* {
  background-color: var(--white);
  font-family: Poppins;
  word-break: word-break;
  color: var(--dark);
}

.mainContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;

  height: 43%;
  width: 45%;
}

section {
  background-color: var(--white);
}

span {
  /* font-size: 20px; */
}

.firstSection {
  width: 460px;
}

.secondSection {
  width: 80px;
}

.thirdSection {
  width: 300px;
  text-align: right;
}

a {
  text-decoration: underline;
}

li {
  list-style-type: none;
}
.makiHeadline {
  text-decoration: none;
  line-height: 100%;
  font-size: 223%;
  margin: 0;
}
.subHeadline {
  font-size: 24px;
  font-weight: 800;
}
.line {
  font-size: 100%;
  font-weight: 600;
}

.logo {
  /*
  width: 129px;
  height: 143px;
  */
  width: 43.75%;
  height: 43.7%;
}

.firstSectionThirdColumn {
  display: flex;
  justify-content: flex-end;
}

.firstSectionFirstColumn {
  margin-bottom: 57px;
}

.secondSectionFirstColumn {
  margin-bottom: 72px;
}

.maki {
  text-decoration: none;
  margin: 0;

  font-weight: 700;
}

.secondSectionThirdColumn {
  height: 205px;
}

.about {
  margin-bottom: 96px;
}
select {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  font-size: 16px;
}
.github {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 8px;
}

.skillsImg {
  width: 33px;
  height: 33px;
  margin-right: 20px;

  margin-bottom: 28px;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.liFirstRow {
  margin-top: 29px;
  margin-bottom: 0px !important;
}

.underHeadline {
  font-size: 100%;
}
